/* Tablet */
@media (max-width: 1536px) {
  .menu1 {
    display: none;
  }
  .target1 {
    justify-items: end;
    background-color: rgb(240, 246, 247);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
  }
  .info {
    justify-items: start;
    background-color: rgb(230, 246, 247);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
  }
  .thongtinghenghiep {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .chungchi {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    border-bottom: 1px solid #d8e2db;
    border-right: 1px solid #d8e2db;
  }
  .chungchi img {
    justify-self: center;
  }
  .chungchi .chitietchungchi {
    justify-self: center;
  }
}
